<div class="divGlavni">
  <div class="divCarCard1" *ngFor="let car of cars$ | async"  >
      <div class="divZaSliku">
        <img *ngIf="car.images && car.images.length > 0" [src]="car.images[0].imagePath"
        style="height: 181px; width: 284px; border-radius: 40px; margin-top: 3px;
              margin-left: 3px; margin-right: 3px;">
      </div>
      <div class="divPodaci">
        <div class="DivNaziv">
          <label id="labelNaziv">Naziv</label>
          <div>{{car.marka}} {{car.model}}</div>
        </div>
        <div class="DivCena">
          <label id="labelCena">Cena</label>
          <div>{{car.cena}}€ </div>
        </div>
        <div class="DivGodiste">
          <label id="labelGodiste">Godiste</label>
          <div>{{car.godiste}}</div>
        </div>
        </div>
      <div class="divDugmici">
        <button mat-icon-button id="deleteButton" (click)="deleteCar(car)">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-button id="basicButton" (click)="toggleContent(car)">View More</button>
      </div>
      <div *ngIf="showAdditionalContent && selectedCar === car" class="blur-background" (click)="closeAdditionalContent()"></div>
      <div *ngIf="showAdditionalContent && selectedCar === car" class="divContent">
        <app-view-more [car]="car" (closeViewMore)="onCloseViewMore()"></app-view-more> <!--[car] je input element.Roditeljska komponenta (carCard) omogucava detetu (VieWMore) komponenti da koristi iste podatke,Zato u viewMore stavljamo @Input-->
      </div>
  </div>
</div>
