<div class="divStrelice">
    <button mat-button id="basicButton2" (click)="photos.click()">
        Dodaj sliku/slike
      <input #photos type="file" multiple (change)="addPhotos($event)" style="display:none;">
    </button>
    <button class="arrow-button" (click)="stepBack()"><</button>
    <button class="arrow-button" (click)="stepForward()">></button>
    <button mat-button id="basicButton1" (click)="addCar()">Postavi oglas</button>
</div>
<div class="divZaSveSlike">
    <div class="divZaSliku1" *ngIf="images[0]">
    <img [src]="images[0]" alt="Odabrana slika">
    <button class="close-button" (click)="removePhoto(0)">x</button>
  </div>
  <div class="divZaOstale8Slike">
    <div class="divZaSliku2" *ngIf="images[1]">
      <img [src]="images[1]" alt="Odabrana slika">
      <button class="close-button" (click)="removePhoto(1)">x</button>
    </div>
    <div class="divZaSliku3" *ngIf="images[2]">
      <img [src]="images[2]" alt="Odabrana slika">
      <button class="close-button" (click)="removePhoto(2)">x</button>
    </div>
    <div class="divZaSliku4" *ngIf="images[3]">
      <img [src]="images[3]" alt="Odabrana slika">
      <button class="close-button" (click)="removePhoto(3)">x</button>
    </div>
    <div class="divZaSliku5" *ngIf="images[4]">
      <img [src]="images[4]" alt="Odabrana slika">
      <button class="close-button" (click)="removePhoto(4)">x</button>
    </div>
    <div class="divZaSliku6" *ngIf="images[5]">
      <img [src]="images[5]" alt="Odabrana slika">
      <button class="close-button" (click)="removePhoto(5)">x</button>
    </div>
    <div class="divZaSliku7" *ngIf="images[6]">
      <img [src]="images[6]" alt="Odabrana slika">
      <button class="close-button" (click)="removePhoto(6)">x</button>
    </div>
    <div class="divZaSliku8" *ngIf="images[7]">
      <img [src]="images[7]" alt="Odabrana slika">
      <button class="close-button" (click)="removePhoto(7)">x</button>
    </div>
    <div class="divZaSliku9" *ngIf="images[8]">
      <img [src]="images[8]" alt="Odabrana slika">
      <button class="close-button" (click)="removePhoto(8)">x</button>
    </div>
  </div>
</div>
<div class="container223">
    <form [formGroup]="carForm">
        <mat-form-field class="example-form-field">
          <mat-label>Stanje</mat-label>
          <input matInput type="text" formControlName="stanje"> 
          <button *ngIf="carForm.get('stanje')?.value" matSuffix mat-icon-button aria-label="Stanje" (click)="carForm.get('stanje')?.setValue('')">
            <mat-icon style="color: black;">close</mat-icon>
          </button>
        </mat-form-field>
    </form>
    <form [formGroup]="carForm">
        <mat-form-field class="example-form-field">
          <mat-label>Marka</mat-label>
          <input matInput type="text" formControlName="marka"> 
          <button *ngIf="carForm.get('marka')?.value" matSuffix mat-icon-button aria-label="Marka" (click)="carForm.get('marka')?.setValue('')">
            <mat-icon style="color: black;">close</mat-icon>
          </button>
        </mat-form-field>
      </form>
      <form [formGroup]="carForm">
        <mat-form-field class="example-form-field">
          <mat-label>Model</mat-label>
          <input matInput type="text" formControlName="model"> 
          <button *ngIf="carForm.get('model')?.value" matSuffix mat-icon-button aria-label="Model" (click)="carForm.get('model')?.setValue('')">
            <mat-icon style="color: black;">close</mat-icon>
          </button>
        </mat-form-field>
      </form>
      <form [formGroup]="carForm">
        <mat-form-field class="example-form-field">
          <mat-label>Godiste</mat-label>
          <input matInput type="text" formControlName="godiste"> 
          <button *ngIf="carForm.get('godiste')?.value" matSuffix mat-icon-button aria-label="Godiste" (click)="carForm.get('godiste')?.setValue('')">
            <mat-icon style="color: black;">close</mat-icon>
          </button>
        </mat-form-field>
      </form>
      <form [formGroup]="carForm">
        <mat-form-field class="example-form-field">
          <mat-label>Kilometraza</mat-label>
          <input matInput type="text" formControlName="kilometraza"> 
          <button *ngIf="carForm.get('kilometraza')?.value" matSuffix mat-icon-button aria-label="Kilometraza" (click)="carForm.get('kilometraza')?.setValue('')">
            <mat-icon style="color: black;">close</mat-icon>
          </button>
        </mat-form-field>
      </form>
      <form [formGroup]="carForm">
        <mat-form-field class="example-form-field">
          <mat-label>Karoserija</mat-label>
          <input matInput type="text" formControlName="karoserija"> 
          <button *ngIf="carForm.get('karoserija')?.value" matSuffix mat-icon-button aria-label="Karoserija" (click)="carForm.get('karoserija')?.setValue('')">
            <mat-icon style="color: black;">close</mat-icon>
          </button>
        </mat-form-field>
      </form>
      <form [formGroup]="carForm">
        <mat-form-field class="example-form-field">
          <mat-label>Gorivo</mat-label>
          <input matInput type="text" formControlName="gorivo"> 
          <button *ngIf="carForm.get('gorivo')?.value" matSuffix mat-icon-button aria-label="Gorivo" (click)="carForm.get('gorivo')?.setValue('')">
            <mat-icon style="color: black;">close</mat-icon>
          </button>
        </mat-form-field>
      </form>
      <form [formGroup]="carForm">
        <mat-form-field class="example-form-field">
          <mat-label>Kubikaza</mat-label>
          <input matInput type="text" formControlName="kubikaza"> 
          <button *ngIf="carForm.get('kubikaza')?.value" matSuffix mat-icon-button aria-label="Kubikaza" (click)="carForm.get('kubikaza')?.setValue('')">
            <mat-icon style="color: black;">close</mat-icon>
          </button>
        </mat-form-field>
      </form>
      <form [formGroup]="carForm">
        <mat-form-field class="example-form-field">
          <mat-label>Snaga motora</mat-label>
          <input matInput type="text" formControlName="snagaMotora">
          <button *ngIf="carForm.get('snagaMotora')?.value" matSuffix mat-icon-button aria-label="Snaga motora" (click)="carForm.get('snagaMotora')?.setValue('')">
            <mat-icon style="color: black;">close</mat-icon>
          </button>
        </mat-form-field>
      </form>
      <form [formGroup]="carForm">
        <mat-form-field class="example-form-field">
          <mat-label>Cena</mat-label>
          <input matInput type="text" formControlName="cena"> 
          <button *ngIf="carForm.get('cena')?.value" matSuffix mat-icon-button aria-label="Cena" (click)="carForm.get('cena')?.setValue('')">
            <mat-icon style="color: black;">close</mat-icon>
          </button>
        </mat-form-field>
      </form>
      <form [formGroup]="carForm">
        <mat-form-field class="example-form-field">
          <mat-label>Fiksna cena</mat-label>
          <input matInput type="text" formControlName="fiksnaCena">
          <button *ngIf="carForm.get('fiksnaCena')?.value" matSuffix mat-icon-button aria-label="Fiksna cena" (click)="carForm.get('fiksnaCena')?.setValue('')">
            <mat-icon style="color: black;">close</mat-icon>
          </button>
        </mat-form-field>
      </form>
      <form [formGroup]="carForm">
        <mat-form-field class="example-form-field">
          <mat-label>Zamena</mat-label>
          <input matInput type="text" formControlName="zamena"> 
          <button *ngIf="carForm.get('zamena')?.value" matSuffix mat-icon-button aria-label="Zamena" (click)="carForm.get('zamena')?.setValue('')">
            <mat-icon style="color: black;">close</mat-icon>
          </button>
        </mat-form-field>
      </form>

</div>






    
