

.container111{
    display: flex;
    background-image: url('../../../../assets/background/pngtree-hd-brick-wall-background-picture-image_206286.jpg');
    background-size: cover; 
    background-attachment: fixed; 
    min-height: 100vh; 
    width: 100%;

}

.divZaCarCard{
    margin-top: 3px;
}

.filterDiv{
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.infoDiv{
    margin-top: 25px;
    margin-left: 25px;
    height: 94px;
}

.divInfoCarCard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.app-Filer {
    display: flex;
    flex-direction: column;
}
